<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    
    <main>
        <div class="Title-heading box">
            <h2>To do App</h2>
        </div>
        <div class="new-task-details box">
            <div class="task-data">
                <form action="/create-task" method="post">
                    <div class="box">
                        <label for="Discription">Discription</label>
                        <input type="text" name="Discription" placeholder="What do you need to do?">
                    </div>
                    <div class="box">
                        <div class="half-box">
                            <label for="category">Category</label><br>
                            <span class="label-text">Choose a Category</span>
                            <select name="category" id="category">
                                <option></option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <option value="School">School</option>
                                <option value="Clearing">Clearing</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="half-box">
                            <label for="Due_Date">Due Date</label><br>
                            <input type="date" name="Due_Date" placeholder="dd/mm/yyyy"><br>
                        </div>
                    </div>
                    <div class="buttons-box box">
                        <div class="buttons">
                            <button type="submit" class="add-button"><i class="fas fa-plus"></i> Add Task</button>
                            <button type="submit" class="delete-button"><i class="fas fa-trash-alt"></i> Delete Task</button>
                        </div>
                        
                    </div> 
                </form>
            </div>
               
        </div>
        <ul>
            <% for(let i of To_Do_List){ %>
                
                <li>
                    <p><%= i.Description %></p>
                    <p><%= i.Category %></p>
                    <p><%= i.Due_Date %></p>
                </li>
            <%}%>
        </ul>
    </main>    
</body>
</html>